<web-app>
<servlet>
<servlet-name>p12_db1</servlet-name>
<servlet-class>p12_db1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>p12_db1</servlet-name>
<url-pattern>/db1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>p12_db2</servlet-name>
<servlet-class>p12_db2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>p12_db2</servlet-name>
<url-pattern>/db2</url-pattern>
</servlet-mapping>

</web-app>
